services:
  - name: hivemind-backend
    type: web
    env: docker
    dockerfilePath: backend/Dockerfile
    region: oregon
    plan: free
    envVars:
      - key: PORT
        value: ${PORT}

      - key: MEILI_HOST
        value: "https://ms-d74b28e2edf3-36059.fra.meilisearch.io"

      - key: MEILI_API_KEY
        value: ${MEILI_API_KEY}

      - key: QDRANT_URL
        value: "https://4c7388fa-3ae5-4c7e-8bf3-558e4873d0e7.europe-west3-0.gcp.cloud.qdrant.io"

      - key: QDRANT_API_KEY
        value: ${QDRANT_API_KEY}

      - key: GROQ_API_KEY
        value: ${GROQ_API_KEY}

    autoDeploy: true

  - name: hivemind-frontend
    type: web
    env: docker
    dockerfilePath: frontend/Dockerfile
    plan: free
    region: oregon
    envVars:
      - key: VITE_API_URL
        value: "https://${hivemind-backend.host}"

    autoDeploy: true
