services:
  - name: hivemind-backend
    type: web
    env: docker
    dockerfilePath: backend/Dockerfile
    region: oregon
    plan: free
    envVars:
      PORT: "${PORT}"

      MEILI_HOST: "https://ms-d74b28e2edf3-36059.fra.meilisearch.io"
      MEILI_API_KEY: "${MEILI_API_KEY}"

      QDRANT_URL: "https://4c7388fa-3ae5-4c7e-8bf3-558e4873d0e7.europe-west3-0.gcp.cloud.qdrant.io"
      QDRANT_API_KEY: "${QDRANT_API_KEY}"

      GROQ_API_KEY: "${GROQ_API_KEY}"
    autoDeploy: true

  - name: hivemind-frontend
    type: web
    env: docker
    dockerfilePath: frontend/Dockerfile
    plan: free
    region: oregon
    envVars:
      VITE_API_URL: "https://${hivemind-backend.host}"
    autoDeploy: true
